{
    "aprsCallsign": "N0CALL",
    "aprsPasscode": "12345",
    "cycleDelay": 120,
    "Flights": [
        {
            "callsign": "W0ZC/16",
            "callsignGated": "W0ZC-16",
            "band": "all",
            "telemetry": "traveler",
            "comments": "Pico Flight 1",
            "firstHeard": null,
            "lastHeard": null,
            "lastLocation": null,
            "lastAltitude": null
        }
    ]
}
